<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
            <div class="panel panel-info">
                    <div class="panel-heading"><h3>Instructions For The Test</h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Please make sure that you are using the latest version of Google Chrome or Mozilla Firefox as your internet browser.</li>
                        <li>   Please ensure that there is an internet connection throughout the test duration.</li>
                        <li>   This test comrpises of 2 sections.</li>
                        <li>   Section 1 has ___ questions in total which need to be completed in ___ minutes.</li>
                        <li>Section 2 has ___ questions in total which need to be completed in ___ minutes.</li>
                        <li>Please read the instructions carefully before attempting each section.</li>
                        </ul>
                        <div class="row">
                          
                        <div class="col-lg-4 col-lg-offset-5">
                        <a href="/exam/section-overview" class="btn btn-primary btn-lg" role="button">Proceed To Section-1</a>
                        </div>
                        </div>
                        </div>
                  </div>
        
        
    </body>
</html>