<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
            <div class="panel panel-info">
                    <div class="panel-heading"><h3>Section</h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>This section has __ questions.</li>
                        <li> The maximum time permitted is __ minutes.</li>
                        <li>   After __ minutes, the test will automatically submit your responses and the test will proceed to the next section.</li>
                        <li> Please review your responses carefully before submitting</li>
                        <li>No changes can be made after your response is submitted.</li>
                        <li>Clicking on the button below will start the test, and the countdown timer will commence.</li>
                        </ul>
                        <div class="row">
                          
                        <div class="col-lg-4 col-lg-offset-5">
                        <a href="/exam/section-test" class="btn btn-primary btn-lg" role="button">Start Section</a>
                        </div>
                        </div>
                        </div>
                  </div>
        
        
    </body>
</html>